.LTovari {

}

.ltovari-top-box {

}

.ltovari-text-box {

}

.ltovari-h2-box {
    display: flex;
    margin-bottom: 15px;
}

.yellow-text {

}

.ltovari-h2 {

}

.a-tovar-text {

}

.ltovari-span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
    color: #3F4E65;
}

.ltovari-brand-box {
    margin-top: 50px;
    display: flex;
}

.brand {
    background: #ffffff;
    box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin-left: 10px;
}

.brand-img {

}

.page-box {
    text-align: center;
    margin-top: 40px;
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
}

.active-page {
    width: 26px;
    height: 7px;
    background: #FFC85E;
    border-radius: 100px;
    margin-right: 6px;
}

.page {
    width: 16px;
    height: 7px;
    background: #3F4E65;
    opacity: 0.1;
    border-radius: 100px;
    margin-right: 6px;
}

